<div class="wrapper footer-wrapper">
  <footer class="content-info">
    <div class="container">
      <ul class="mininav">
        <li>
          <a href="genesis-products/index.html" title="Products">Products</a>
        </li>
        <li>
          <a href="news-page/index.html" title="Latest News">News</a>
        </li>
        <li>
          <a href="meet-the-team/index.html" title="Meet The Team">Our Team</a>
        </li>
        <li>
          <a href="online-gaming/index.html" title="Online Gaming">Online Gaming</a>
        </li>
        <li>
          <a href="contact-us/index.html" title="Contact Us">Contact</a>
        </li>
      </ul>
      <ul class="social">
        <li class="fblnk">
          <a href="http://www.facebook.com/GenesisGamesUK" target="_blank">Find us on Facebook</a>
        </li>
        <li class="twlnk">
          <a href="http://twitter.com/GenesisGames" target="_blank">Follow us on Twitter</a>
        </li>
      </ul>
    </div>
  </footer>
</div>