<div class="wrapper footer-wrapper">
  <footer class="content-info">
    <div class="container">
      <ul class="miniNav">
        <li class="menu-item"><a
            href="/genesis-products">Our Products</a></li>
        <li class="menu-item"><a
            href="/news-page">Latest News</a></li>
        <li class="menu-item"><a
            href="/meet-the-team">Meet The Team</a></li>
        <li class="menu-item"><a
            href="/online-gaming">Example Games</a></li>
        <li class="menu-item"><a
            href="/contact-us">Contact Us</a></li>
        <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-638"><a
            target="_blank" rel="noopener" href="/docs/privacy-policy.pdf">Privacy Policy</a></li>
      </ul>
      <ul class="social">
        <li class="fblnk">
          <a href="http://www.facebook.com/GenesisGamesUK" target="_blank">Find us on Facebook</a>
        </li>
        <li class="twlnk">
          <a href="http://twitter.com/GenesisGames" target="_blank">Follow us on Twitter</a>
        </li>
      </ul>
    </div>
  </footer>
</div>