<header class="banner">
  <div class="hdr">
    <button id="navToggle">
      <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 512 512">
        <path
          d="M437.02 74.98C388.67 26.63 324.38 0 256 0S123.33 26.63 74.98 74.98C26.63 123.33 0 187.62 0 256s26.63 132.67 74.98 181.02C123.33 485.37 187.62 512 256 512s132.67-26.63 181.02-74.98C485.37 388.67 512 324.38 512 256s-26.63-132.67-74.98-181.02zM135.7 155.76h240.58a15.42 15.42 0 0 1 0 30.84H135.71a15.42 15.42 0 0 1 0-30.84zm240.58 200.48H135.71a15.42 15.42 0 0 1 0-30.84h240.58a15.42 15.42 0 0 1 0 30.84zm20.56-84.82h-281.7a15.42 15.42 0 0 1 0-30.84h281.7a15.42 15.42 0 0 1 0 30.84z" />
      </svg>
    </button>
    <a class="brand" href="/">
      <img src="/assets/img/masthead.png">
    </a>
    <span>
      <a href="mailto:info@genesisgames.net">info@genesisgames.net</a>
      <i>//</i>
      <a href="mailto:info@genesisgames.net">+44.1494.773030</a>
    </span>
  </div>
  <nav class="nav-primary">
    <div class="menu-menu-1-container">
      <ul id="menu-menu-1" class="nav">
        <li id="menu-item-631" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-631"><a
            href="/genesis-products">Our Products</a></li>
        <li id="menu-item-634" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-634"><a
            href="/news-page">Latest News</a></li>
        <li id="menu-item-635" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-635"><a
            href="/meet-the-team">Meet The Team</a></li>
        <li id="menu-item-636" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-636"><a
            href="/online-gaming">Example Games</a></li>
        <li id="menu-item-637" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-637"><a
            href="/contact-us">Contact Us</a></li>
        <li id="menu-item-638" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-638"><a
            target="_blank" rel="noopener" href="/docs/privacy-policy.pdf">Privacy Policy</a></li>
      </ul>
    </div>
  </nav>
</header>