<div id="mobileNav" class="">
  <button id="navClose">
    <svg viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
      <path d="m1.072 9.802 8.73-8.729a3.66 3.66 0 0 1 5.179 0l35.018 35.018 35.02-35.018a3.66 3.66 0 0 1 5.178 0l8.73 8.729a3.662 3.662 0 0 1 0 5.179l-35.018 35.02 35.018 35.018a3.662 3.662 0 0 1 0 5.179l-8.73 8.73a3.661 3.661 0 0 1-5.178 0l-35.02-35.019-35.018 35.019a3.662 3.662 0 0 1-5.179 0l-8.73-8.73a3.662 3.662 0 0 1 0-5.179l35.02-35.018-35.02-35.02a3.662 3.662 0 0 1 0-5.179Z" />
    </svg>
  </button>
  <nav>
    <ul class="miniNav">
      <li class="menu-item"><a href="/genesis-products">Our Products</a></li>
      <li class="menu-item"><a href="/news-page">Latest News</a></li>
      <li class="menu-item"><a href="/meet-the-team">Meet The Team</a></li>
      <li class="menu-item"><a href="/online-gaming">Example Games</a></li>
      <li class="menu-item"><a href="/contact-us">Contact Us</a></li>
      <li class="menu-item"><a target="_blank" rel="noopener" href="/docs/privacy-policy.pdf">Privacy Policy</a></li>
    </ul>
    <ul class="social">
      <li class="fblnk">
        <a href="http://www.facebook.com/GenesisGamesUK" target="_blank">Find us on Facebook</a>
      </li>
      <li class="twlnk">
        <a href="http://twitter.com/GenesisGames" target="_blank">Follow us on Twitter</a>
      </li>
    </ul>
  </nav>
</div>