<aside class="sidebar">
  <section class="widget recent-posts-widget-with-thumbnails-2 recent-posts-widget-with-thumbnails">
    <div id="rpwwt-recent-posts-widget-with-thumbnails-2" class="rpwwt-widget">
      <h3>News &#038; Announcements</h3>
      <ul>
        <li><a href="2021/04/post-lockdown-strategy/index.html"><span class="rpwwt-post-title">Post Lockdown
              Strategy</span></a>
          <div class="rpwwt-post-excerpt">Genesis Games Ltd will be reopening, full time from 17/05/21 in line with <a
              href="2021/04/post-lockdown-strategy/index.html"> Read More</a></div>
        </li>
        <li><a href="2020/03/important-information-covid-19/index.html"><span class="rpwwt-post-title">Important
              Information (COVID-19)</span></a>
          <div class="rpwwt-post-excerpt">Dear Suppliers and Customers, Following the rules and regulations set by <a
              href="2020/03/important-information-covid-19/index.html"> Read More</a></div>
        </li>
        <li><a href="2020/01/amex-2020/index.html"><span class="rpwwt-post-title">AMEX 2020</span></a>
          <div class="rpwwt-post-excerpt">Genesis Games Ltd, exclusive distributor for Amatic Industries GMBH, will <a
              href="2020/01/amex-2020/index.html"> Read More</a></div>
        </li>
        <li><a href="2020/01/ice-2020/index.html"><span class="rpwwt-post-title">ICE 2020</span></a>
          <div class="rpwwt-post-excerpt">Genesis Games Ltd, exclusive distributor for Amatic Industries GMBH in the
            <a href="2020/01/ice-2020/index.html"> Read More</a></div>
        </li>
      </ul>
    </div>
  </section>
</aside>