.moregames {
  padding-left: 2%;
  padding-right: 2%;

  a {
    display: inline-block;
    box-shadow: 0 0 0 5px #bbb;
    border-radius: 7px;
    overflow: hidden;
    width: 48%;
    float: left;
    margin-bottom: 1.5rem;

    img {
      display: block;
      width: 100%;
      height: auto;
    }

    &:nth-child(odd) {
      margin-right: 4%;
    }

    &:hover {
      transform: scale(1.05);
    }
  }
}

@media (min-width: 768px) {
  .moregames {
    a {
      width: 31%;

      &:nth-child(odd) {
        margin-right: 0;
      }

      &:nth-child(1),
      &:nth-child(2),
      &:nth-child(4),
      &:nth-child(5) {
        margin-right: 3.5%;
      }
    }
  }
}
