<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ site.title }} {% if page.title %}| {{ page.title }}{% endif %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Genesis Games">
    <meta property="og:title" content="genesisgames.net">
    <meta property="og:site_name" content="genesisgames.net">
    <meta property="og:url" content="https://genesisgames.net/{{ page.slug }}">
    <meta property="og:description" content="Genesis Games">
    <meta property="og:type" content="website">
    <link rel="stylesheet" href="/assets/css/main.css">
  </head>
  <body class="{{ page.title | downcase | replace:' ','-' | replace:',','' | strip_html }}{% if page.layout %} {{ page.layout }}{% endif %}">
    <div class="wrapper clearfix" role="document">
      {% include header.html %}
      {{ content }}
    </div>
    {% include footer.html %}
    {% include mobile-nav.html %}
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCf6NIVbIWUsqdP9VZOWepDIbwuXx6-arc"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="/assets/js/slick.min.js"></script>
    <script type="text/javascript" src="/assets/js/main.js"></script>
  </body>
</html>