<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/assets/css/main.css">
  </head>
  <body class="{{ page.title | downcase | replace:' ','-' | replace:',','' | strip_html }}{% if page.layout %} {{ page.layout }}{% endif %}">
    <div class="wrapper clearfix" role="document">
      {% include header.html %}
      {{ content }}
    </div>
    {% include footer.html %}
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCf6NIVbIWUsqdP9VZOWepDIbwuXx6-arc"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script type="text/javascript" src="/assets/js/slick.min.js"></script>
    <script type="text/javascript" src="/assets/js/main.js"></script>
  </body>
</html>