---
layout: with-sidebar
---

<header class="clearfix">
  <h2 class="entry-title">{{ page.title }}</h2>
</header>

<div class="post-content">
  <time class="updated">
    <span class="month-day">
      {% assign m = page.date | date: "%B" %}
      {% case m %}
        {% when 'May' %}
          {{ m }}
        {% when 'September' %}
          Sept.
        {% else %}
          {{ page.date | date: "%b" }}
      {% endcase %}
      {{ page.date  | date: "%d" }}
    </span>
    <span class="full-year">
      {{ page.date  | date: "%Y" }}
    </span>
  </time>
  {{ content }}
</div>